node_modules/
# Local camera originals can contain GPS and device metadata. Keep them out of Git.
media/gallery-originals/
# resources/
public/
.hugo_build.lock
.vercel
yarn-error.log
# Local Netlify folder
.netlify
yarn-error.log/public
/resources/_gen
